<!DOCTYPE html>
<html lang="hy">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BelleAme - Հարսանյաց Հրավիրատոմսեր{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include 'header.html' %}

    <main class="main-content">
        {% block content %}{% endblock %}
    </main>

    {% include 'footer.html' %}

    {% block extra_js %}{% endblock %}
</body>
</html>